:root {
  --flip-primary: #8b5ad4;
  --flip-primary-light: #d9b2fa;
  --flip-text: #0a0728;
  --flip-background: #f2ddf1;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--flip-background);
}

.flip-heading {
  color: var(--flip-primary);
  margin: 0;
}

.flip-logo {
  width: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-new-game {
  border: none;
  padding: 8px 12px 8px 12px;
  background-color: var(--flip-primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cards-container {
  width: 5rem;
  height: 5rem;
}

.front-card-container {
  width: 100%;
  height: 100%;
}

.front-card-img {
  width: 100%;
  height: 100%;
}

.flip-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
